@charset "UTF-8";

/*Estilo para impresora*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

menu{
    display: none;
}